* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --nav_bar: #0084FD;
    --light_bg: #B5DDFF;
    --alternative_bg: #9792E4;
    --free: #FDC15F;
    --footer: #333333;
}

body {
    font-family: 'PT Sans', sans-serif;
}

/* #region utility */

.container {
    max-width: 70%;
    margin: auto;
}

.pd_topbot3 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.spacing {
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-bottom: 2rem;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.gap {
    gap: 1rem;
}

/* #endregion utility */

/* #region col_ */

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4 - 1rem);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6 - 1rem);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8 - 1rem);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.col_12 {
    width: calc((100% / 12) * 12);
}

/* #endregion col_ */


/* #region :hover */

.bars:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    text-shadow: 0px 0px 10px white;
    font-size: 1.5rem;
    min-width: 150px;
}

.links:hover {
    text-decoration: underline;
}

.store:hover {
    box-shadow: 0 0 10px var(--nav_bar);
    text-shadow: 0 0 10px white;
    font-size: 1.2rem;
}

.fa-arrow-down-long:hover {
    cursor: pointer;
    box-shadow: 0 0 10px var(--alternative_bg);
    font-size: 1.2rem;
}

.testimonial_card:hover {
    box-shadow: 0 0 10px black;
    cursor: pointer;
}

.more:hover {
    box-shadow: 0 0 10px var(--alternative_bg);
    text-shadow: 0 0 10px white;
    font-size: 1.2rem;
}

.linkedin:hover {
    box-shadow: 0 0 10px var(--alternative_bg);
    text-shadow: 0 0 10px white;
    font-size: 1rem;
}

.start:hover {
    box-shadow: 0 0 10px white;
    font-size: 1.2rem;
}

/* #endregion :hover */

/* #region header */

#site_header {
    background-color: var(--nav_bar);
}

nav {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

nav img {
    height: 50px;
    padding: 0.5rem;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 1rem;
}

header a {
    text-decoration: none;
    color: white;
}

.started {
    color: black;
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}

.bars {
    position: relative;
    align-self: center;
    display: none;
    margin-right: 1rem;
}

.dropdown-content {
    text-align: right;
    display: none;
    position: absolute;
    right: 0;
    background-color: var(--nav_bar);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    font-weight: bold;
    padding: 1rem;
    text-decoration: none;
    display: inline-block;
}

.fa-bars {
    font-size: 2rem;
    display: none;
}

/* #endregion header */



/* #region main */




.bg_light {
    background-color: var(--light_bg);
    border-radius: 1rem;
}


.demo {
    padding: 1.5rem;
}

.demo h3 {
    color: var(--nav_bar);
    font-size: 1.4rem;
}

.demo p {
    padding-top: 2rem;
    line-height: 1.5rem;
    max-width: 90%;
}

.demo>div {
    padding-top: 3rem;
}

.store {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--nav_bar);
    padding: 0.5rem 3rem;
    border-radius: 1rem;
}



.phone {
    max-width: 60%;
    align-self: end;
}


.fa-file-code,
.fa-compass-drafting,
.fa-laptop-code,
.fa-bullhorn {
    color: var(--nav_bar);
    font-size: 4rem;
}



.bg_container {
    background-color: var(--alternative_bg);
}

.clear_code {
    padding: 1rem;
    text-align: center;
}

.clear_code>h3 {
    padding-top: 2rem;
    color: var(--nav_bar);
}

.clear_code>p {
    line-height: 1.5rem;
    padding-top: 2rem;
}

.left_card {
    text-align: right;
    max-width: 60%;
}

.right {
    justify-content: right;
}

.left_card img,
.right_card img {
    max-width: 100%;
}

.left_card img {
    margin-right: 3rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}


.left_card h3 {
    padding: 2rem 0rem;
    color: white;
    text-align: left;
}

.left_card p {
    font-size: 0.8rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    color: white;
    text-align: left;
    max-width: 90%;
}


.plan1 {
    width: 300px;

}

.right_card {
    text-align: center;
    background-color: white;
    max-width: 50%;
    border-radius: 1.8rem;
    align-self: end;
    margin-bottom: 2.3rem;
    padding: 1rem 1rem;
}

.plan2 {
    width: 150px;
}

.right_card h3 {
    padding-top: 1rem;
}

.right_card p {
    font-style: italic;
    padding: 1rem 0rem;
}


.fa-arrow-down-long {
    background-color: var(--alternative_bg);
    padding: 0.6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.bg_purple {
    background-color: var(--alternative_bg);
    border-radius: 3rem;
    align-items: center;
    margin-bottom: 1rem;
}

.testimonial {
    text-align: center;
    margin-top: 2rem;
}

.testimonial h2 {
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--alternative_bg);
}

.testimonial p {
    padding-bottom: 2rem;
    font-size: 1.3rem;
}

.testimonials{
    justify-content: center;
}

.avatar img {
    padding: 1rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.bio {
    padding: 1rem;
    color: white;
    line-height: 1.5rem;
}

.bio div {
    padding-top: 2rem;
}

.benefits h2 {
    text-align: center;
    padding: 2rem;
    color: white;
    font-size: 2.7rem;
}

.card {
    padding: 1.5rem;
    background-color: white;
    border-radius: 1.5rem;
}

.card p {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.card h3,
.count {
    color: var(--alternative_bg);
}

.card h3 {
    font-size: 1.6rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.count {
    font-size: 3rem;
    font-weight: bold;
}



.more {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: var(--alternative_bg);
    padding: 0.5rem 2rem;
    border-radius: 2rem;
}

.about_us {
    padding: 1rem;
    max-width: 90%;
    margin-bottom: 5rem;
}

.about_us h3 {
    color: var(--alternative_bg);
    font-size: 3rem;
}

.about_us p {
    line-height: 1.5rem;
    padding: 1rem 0rem;

}

.about {
    max-width: 100%;
    max-width: 200px;
    max-height: 200px;
    min-width: 200px;
    min-height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonal_about {
    width: 70%;
}

.testimonal_about div {
    color: var(--alternative_bg);
    font-weight: bold;
    font-size: 1.4rem;
}

.linkedin {
    margin-top: 1rem;
    display: inline-block;
    text-decoration: none;
    background-color: var(--alternative_bg);
    padding: 0.5rem;
    color: white;
    border-radius: 3rem;
    font-size: 0.9rem;
    word-spacing: 2px;
    margin-bottom: 3.5rem;
}

.relative {
    position: relative;
    display: inline-block;
}

.violet_quote {
    font-size: 3.7rem;
    position: absolute;
    right: 0;
    color: var(--alternative_bg);
}

.get_started {
    text-align: center;
    width: 40%;
    margin: auto;
    color: white;
}

.intro {
    color: #d5d4f4;
    padding: 1rem;
}

.get_started h2 {
    font-size: 2rem;
}

.free {
    font-size: 4.5rem;
    padding: 1rem;
    font-weight: bold;
    color: var(--free);
}

.get_started p {
    line-height: 1.5rem;
    width: 65%;
    margin: auto;
}

.start {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    color: var(--alternative_bg);
    background-color: white;
    padding: 1rem 4rem;
    border-radius: 2rem;
    margin: 1rem 0rem;
}

.copyright {
    font-size: 0.7rem;
    padding-bottom: 3rem;
}

.copyright a {
    color: white;
}

/* #endregion main */

/* #region footer */

#site_footer {
    background-color: var(--footer);
}

.bottom {
    color: white;
    width: 40%;
    margin: auto;
    text-align: center;
}

.bottom p {
    padding-top: 3rem;
    width: 65%;
    margin: auto;
}

.autor {
    width: 65%;
    margin: auto;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.autor a {
    color: var(--alternative_bg);
}

/* #endregion footer */


@media screen and (max-width: 768px) {
    .col_12_tablet {
        width: calc((100% / 12) * 12);
    }

    .col_6_tablet {
        width: calc((100% / 12) * 6);
    }

    nav {
        max-width: 90%;
        margin: auto;
    }

    nav ul {
        display: none;
    }

    .phone {
        margin-left: 1rem;
    }

    .left_card {
        text-align: left;
        margin-left: 0;
    }

    .left_card img {
        width: 100%;
        padding: 0;
    }

    .left_card p {
        max-width: 100%;
    }

    .right_card {
        text-align: center;
        background-color: white;
        max-width: 100%;
        border-radius: 1.8rem;
        margin: 0;
        margin-bottom: 2rem;
    }

    .right_card img {
        width: 100%;
    }

    .container {
        max-width: 90%;
        margin: auto;
    }

    .right {
        justify-content: center;
    }

    .left_card {
        text-align: right;
        max-width: 100%;
    }

    .col_6_tablet_gap {
        width: calc((100% / 12) * 6 - 1rem);
    }

    .testimonal_about {
        width: 100%;
    }

    .get_started,
    .bottom {
        width: 80%;
    }

    .get_started p {
        width: 90%;
    }

    .get_started h2 {
        font-size: 2.2rem;
    }

    .autor {
        width: 70%;
    }

    .demo p {
        max-width: 100%;
    }

    .bars {
        display: block;
    }
}



@media screen and (max-width: 480px) {

    .col_12_mobile {
        width: calc((100% / 12) * 12);
    }

    nav ul {
        display: none;
    }

    .demo>h3 {
        font-size: 1.6rem;
    }

    .phone {
        padding-top: 0;
        width: 80%;
        margin: auto;
    }

    .container_phone {
        display: flex;
    }

    .container {
        max-width: 80%;
        margin: auto;
    }

    .bg_purple {
        flex-wrap: wrap;
        display: flex;
    }

    .avatar,
    .bio {
        text-align: center;
    }

    .testimonal_about {
        width: 100%;
    }

    .about_us {
        margin-bottom: 1rem;
    }

    .get_started,
    .bottom {
        width: 90%;
    }

    .bottom p,
    .autor {
        width: 85%;
    }

    .start {
        padding: 1rem 6rem;
    }

}