*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --nav_bar: #0084FD;
    --light_bg: #B5DDFF;
    --alternative_bg: #9792E4;
    --free: #FDC15F;
    --footer: #333333;
}

/* #region utility */

.container{
    max-width: 70%;
    margin: auto;
}

.pd_topbot3{
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.flex{
    display: flex;
}

.wrap{
    flex-wrap: wrap;
}

.gap{
    gap: 1rem;
}


.debug{
    background-color: red;
    height: 300px;
    border: 2px solid black;
}

.debug_small{
    background-color: red;
    height: 150px;
    border: 2px solid black;
}

.avatar_debug{
    width: 30%;
    background-color: green;
    border: 2px solid black;
}

.bio_debug{
    height: 150px;
    width: 100%;
    background-color: yellow;
    border: 2px solid black;
}

.free_debug{
    width: 300px;
    height: 300px;
    background-color: green;
    border: 2px solid black;
    max-width: 60%;
    margin: auto;
}
/* #endregion utility */

/* #region col_ */

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4 - 1rem);
}

.col_5 {
    width: calc((100% / 12) * 5);
}

.col_6 {
    width: calc((100% / 12) * 6 - 1rem);
}

.col_7 {
    width: calc((100% / 12) * 7);
}

.col_8 {
    width: calc((100% / 12) * 8 - 1rem);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_10 {
    width: calc((100% / 12) * 10);
}

.col_11 {
    width: calc((100% / 12) * 11);
}

.col_12 {
    width: calc((100% / 12) * 12);
}

/* #endregion col_ */

/* #region header */

#site_header{
    background-color: var(--nav_bar);
}

nav{
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    color: white;
}

nav img{
    height: 50px;
    padding: 0.5rem;
}

nav ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    padding: 1rem;
}

.started{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 0.5rem;
    border-radius: 1rem;
}
/* #endregion header */



/* #region main */




.bg_light{
    background-color: var(--light_bg);
    border-radius: 1rem;
}


.demo{
    padding: 1.5rem;
}

.demo p{
    padding-top: 2rem;
    line-height: 1.5rem;
}

.demo > div{
    padding-top: 3rem;
}

.store{
    text-decoration: none;
    color: white;
    background-color: var(--nav_bar);
    padding: 0.5rem 3rem;
    border-radius: 1rem;

}



.phone{
    padding-top: 3.5rem;
    margin-left: 3rem;
    max-width: 60%;
    margin-bottom: -1%;
}


.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    color: var(--nav_bar);
    font-size: 4rem;
}



.bg_container{
    background-color: var(--alternative_bg);
}

h2{
    text-align: center;
}

.clear_code{
    padding: 1rem;
    text-align: center;
}

.clear_code>h3{
    padding-top: 2rem;
}

.clear_code>p{
    line-height: 1.5rem;
    padding-top: 2rem;
}

.left_card{
    text-align: left;
    margin-left: 15rem;
}

.left_card img{
    padding: 4rem 2rem;
}

.left_card h3{
    padding: 2rem 0rem;
    color: white;
}

.left_card p{
    font-size: 0.8rem;
    padding-bottom: 2rem;
    line-height: 1.5rem;
    color: white;
}

.plan1{
    width: 300px;
}

.plan2{
    width: 150px;
}

.right_card{
    text-align: center;
    background-color: white;
    max-width: 50%;
    border-radius: 1.8rem;
    margin-top: 8.2rem;
    padding: 1rem;
    margin-left: 2rem;
}

.right_card h3{
    padding-top: 1rem;
}

.right_card p{
    font-style: italic;
    line-height: 1.5rem;
    padding: 1rem 0rem;
}


.fa-arrow-down-long{
    background-color: var(--alternative_bg);
    padding: 0.6rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}


/* #endregion main */

/* #region footer */

#site_footer{
    background-color: var(--footer);
}

/* #endregion footer */


@media screen and (max-width: 768px) {
    .col_12_tablet {
        width: calc((100% / 12) * 12);
    }
    .col_6_tablet {
        width: calc((100% / 12) * 6);
    }
    nav ul{
        display: none;
    }
    .phone{
        margin-left: 1rem;
    }
    .left_card{
        text-align: left;
        margin-left: 0;
    }
    .left_card img{
        width: 100%;
        padding: 0;
    }
    .right_card{
        text-align: center;
        background-color: white;
        max-width: 100%;
        border-radius: 1.8rem;
        margin: 0;
        margin-bottom: 2rem;
    }
    .right_card img{
        width: 100%;
    }
}



@media screen and (max-width: 480px) {
    .col_12_mobile {
        width: calc((100% / 12) * 12);
    }
    nav ul{
        display: none;
    }

    .demo > h3{
        font-size: 1.6rem;
    }

    .phone{
        padding-top: 0;
        width: 80%;
        margin: auto;
    }

    .container_phone{
        display: flex;
    }

    .container{
        max-width: 80%;
        margin: auto;
    }
}
